# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/*/Package.resolved
Package.resolved

# macOS
.DS_Store
*.swp
*.lock
profile
*.profraw

# Environment
.env
*.key

# IDE
.vscode/
.idea/

# Claude
.claude/
